body {
background-color: #0a0a23;
}

#text {
background-color: #0a0a23;
color: #ffffff;
padding: 10px;
}

#game {
max-width: 500px;
max-height: 800px;
background-color: #ffffff;
color: #ffffff;
margin: 30px auto 0px;
padding: 10px;
}

#controls,
#stats {
border: 1px solid #0a0a23;
padding: 5px;
color: #0a0a23;
}

#monsterStats {
display: none;
border: 1px solid #0a0a23;
padding: 5px;
color: #ffffff;
background-color: #c70d0d;
}

.stat {
padding-right: 10px;
}

button {
cursor: pointer;
color: #0a0a23;
background-color: #feac32;
background-image: linear-gradient(#fecc4c, #ffac33);
border: 3px solid #feac32;
}

#area{
    margin-top: 5%;
    width: 500px;
    height: 500px;
    background-position: center;
}

.cave{
    background-image: url(static/bgs/cave.jpg);
}

.townSquare{
    background-image: url(static/bgs/townsquare.jpg);
}

.store{
    background-image: url(static/bgs/store.jpg);
}

.WTA{
    background-image: url(static/bgs/WTA.png);
}

.forkArena{
    background-image: url(static/bgs/forkarena.png);
}

.monsterImage {
    margin-top: 8%;
    margin-bottom: 10%;
    margin-left: 30%;
    height: 90%;
    width:40%;
}